html {
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: black;
    color: #fbfbfb;
}
h1 {
    color: #fbfbfb;
}
h2 {
    color: #fbfbfb;
    
}
h3 {
    color: #fbfbfb;
    font-weight: 900;
    padding-bottom: 20px;
}
ul {
    padding-left: 20px;
}